#menu {
    height: 40px;
    background-color: rgba(0, 0, 0, 0.3);
}

#menu ul {
    list-style-type: none;
    white-space: nowrap;
    margin-top: 8px;
}

#menu li {
    color: lightblue;
    font-size: 16px;
    font-family: "Tahoma";
    margin-right: 40px;
    display: inline;
}

#menu li.selected {
    color: white;
}

#banner {
    background-repeat: no-repeat;
    background-color: #a29bfe;
    /* background-size: cover; */
}
.btn_back{
    position: absolute;
    top:0;
    right: 0;   
}

h1 {
    color: white;
    font-size: 80pt;
    font-family: "Tahoma";
    text-shadow: 4px 4px 16px black;
}

h3 {
    color: white;
    margin-top: 0px;
    margin-bottom: 48px;
    font-family: "Tahoma";
    text-shadow: 4px 4px 8px black;
}


#upload-button {
    color: white;
    width: 256px; 
    height: 64px;
    font-size: 20px;
}

#analyze-button {
    color: black;
    width: 256px;
    height: 64px;
    font-size: 20px;
}
#language {
    width: 256px;
    margin: 32px auto;
}

#uploaded-image {
    /* display: block; */
    margin: 32px auto;
}
#processed-image {
    /* display: block; */
    margin: 32px auto;
}

/* .img{
    display: block;
}  */

.btn {
    font-size:24px;
    width: 256px;
    height: 64px;
    outline: none;
    background-color: #27ae60;
    border: none;
    border-radius:5px;
    margin-bottom: 20px;
  }
  
  .btn:hover{
    background-color: #2ecc71;
  }
  
  .btn:active {
    background-color: #2ecc71;
    box-shadow: 0 5px #95a5a6;
    transform: translateY(4px);
  }
